.archives_top {
    width: 100%;
    height: 150px;

    border-bottom: 1px solid #eee;

    h2 {
        padding-top: 40px;
        color: red;
    }

    h6 {
        span {
            color: red;
            font-size: 15px;
        }
    }
}

.archives_main {
    width: 100%;
    height: auto;


    h1 {
        text-align: left;
        margin-left: 30px;

    }

    h3 {
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #888;
    }
}

.archives_ul {
    li {
        list-style: disc;
        text-align: left;
        margin-left: 90px;
        line-height: 40px;
    }

    li:hover {
        color: red;
    }

}
