.archives_top {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #eee;
}

.archives_top h2 {
  padding-top: 40px;
  color: red;
}

.archives_top h6 span {
  color: red;
  font-size: 15px;
}

.archives_main {
  width: 100%;
  height: auto;
}

.archives_main h1 {
  text-align: left;
  margin-left: 30px;
}

.archives_main h3 {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #888;
}

.archives_ul li {
  list-style: disc;
  text-align: left;
  margin-left: 90px;
  line-height: 40px;
}

.archives_ul li:hover {
  color: red;
}
