.detail_title {
  /* color: var(--main-text-color); */
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.main .op .detail_box .detail_title {
  width: 100%;
  text-align: left;
}

.bottom_box {
  display: flex;
  padding: 12px 0;
}

.know_detil_main .know_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom_box .know_right p {
  line-height: 24px;
  height: 20px;
  /* margin: 0 12.8px; */
  margin-bottom: 0px;
}

.bottom_box .know_right p svg {
  font-size: 14px;
  margin-bottom: -2px;
}

/* .know_detil_main .know_right p .know_span_svg{
  padding-left: 6px;
} */

.know_left {
  position: relative;
  flex: 0 0 auto;
  width: 170px;
  max-height: 150px;
  min-height: 100px;
  margin-right: 10px;
}

.top_title {
  /* display: -webkit-box;
    max-width: 100%; */
  /* color: var(--main-text-color); */
  /* overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
  display: flex;
}


.know_left img {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
}

.know_right_title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vice {
  width: 100%;
  /* background-color: #fff; */
}

.know_detil_main {
  /* background-color: var(--block-bg-color); */
  padding: 10px;
}

.know_detil_main:hover .top_title .top_span1 {
  color: red;
}

.know_detil_main .top_title .top_span1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.topNav .ant-breadcrumb ol li a {
  color: rgba(0, 0, 0, .85);
}

.topNav .ant-breadcrumb ol {
  width: 100%;
  height: 40px;
  background: #e7eaee;
  margin-left: -1px;
  /* color: rgba(0,0,0,.85); */
}

.topNav .ant-breadcrumb ol li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-variant: tabular-nums;
  line-height: 40px;
  list-style: none;
  font-feature-settings: "tnum";
  font-size: 14px;

}

/* .ant-row .ant-col-13 .detail_box{
  background:#eee;
} */

.main .op .detail_box .detail_title {
  font-weight: 600;
  font-size: 16px;
  height: 35px;
  line-height: 22px;
  /* background:#eee; */
  margin-bottom: 10px;
  background: #e7eaee;
  margin-left: -1px;
}

.detail_img {
  width: 100%;
  margin: 10px auto;
  margin-top: 10px;
  padding: 10px;
}

.detail_img img {
  width: 100%;
}

.content .content_child1 {
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .startRead{
  text-align: center!important;
  float: left;
} */

.children_li {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
}

.children_li:hover {
  color: red;
  cursor: pointer;
}

.children_li_right {
  opacity: 0;
}

.children_li:hover .children_li_right {
  opacity: 1;
}

.detail_box .detail_bigbox {
  padding-bottom: 20px;
}

.detail_box .content .ant-btn-primary {
  border: none
}

.right_bigbox .detail_rifht_title {
  text-align: left;
}

.null {
  width: 100%;
  height: 38px;
  background-color: #e7eaee;
}

.right_bigbox .detail_rifht_title p {
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 38px;
}

.right_bigbox .know_detil_main .bottom_box {
  border-bottom: 2px solid #e7eaee;
}

.right_bigbox .know_detil_main:last-child .bottom_box {
  border-bottom: none;
}