.knowledge_box{
    // content: "";
    // display: block;
    // height: 0;
    // clear: both;
    // visibility: hidden;
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 15px 15px 0 15px;
    .box_li{
        position: relative;
        cursor:pointer
    }
    .box_li:hover{
        .top_title>span>h4{
            color:red
        }
    }
    .box_li::after{
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #F0F2F7;
    }
    .box_li:last-child::after{
        height: 0px;
        background-color: #fff;
      }
    .top_title>.top_span1{
        font-size: 16px;
        overflow: hidden;
        font-weight: 600;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        display: inline-block;
    }
    .know_main{
        display: flex;
        padding: 12px 0;
        .know_right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                line-height: 24px;
                height: 20px;
                // margin: 0 12.8px;
                margin-bottom: 0px;
                svg{
                    font-size: 14px;
                    margin-bottom: -2px;
                }
                .know_span_svg{
                    padding-left: 6px;
                }
            }
        }
    }
    .top_time{
        color: #8590a6;
        font-size: 14px;
    }
    .top_span2{
        color: #F0F2F7;
    }
    .top_title{
        display: flex;
    }
    .know_left{
        position: relative;
        flex: 0 0 auto;
        width: 190px;
        max-height: 150px;
        min-height: 100px;
        margin-right: 10px;
        img{
            // width: 190px;
            // height: 100px;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            transform: translate3d(-50%,-50%,0);
            object-fit: cover;
        }
    }
}
.box_li:not(:first-child){
    margin-top: 12px;
}
.ant-modal-content{
    width: 400px;
    padding: 12px 0;
}
.share_box{
    width: 100%;
    // margin-left: -12px;
    img{
        width: 375px;
        height: auto;
        vertical-align: middle;
        border-style: none;
    }
}

.ant-btn-default{
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}

.ant-btn-default:hover{
    color:#f40a12;
    border: 1px solid #f40a12;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.ant-btn-primary{
    background-color: #f40a12;
    border: 1px solid #f40a12;
}
.ant-btn-primary:hover{
    background-color: #ff0064;
    border: 1px solid #f40a12;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}