.knowledge_box {
  width: 100%;
  text-align: left;
  padding: 15px;
}

.knowledge_box .box_li {
  position: relative;
  cursor: pointer;
}

.knowledge_box .box_li:hover .top_title>span>h4 {
  color: red;
}

.box_li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #F0F2F7;
}

.knowledge_box .top_title>.top_span1 {
  font-size: 16px;
  overflow: hidden;
  font-weight: 600;
  display: inline-block;
}

.knowledge_box .know_main {
  display: flex;
  padding: 12px 0;
}

.knowledge_box .know_main .know_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.knowledge_box .know_main .know_right p {
  line-height: 24px;
  height: 20px;
  margin-bottom: 0px;
}

.knowledge_box .know_main .know_right p svg {
  font-size: 14px;
  margin-bottom: -2px;
}

.knowledge_box .know_main .know_right p .know_span_svg {
  padding-left: 6px;
}

.knowledge_box .top_time {
  color: #8590a6;
  font-size: 14px;
}

.knowledge_box .top_span2 {
  color: #F0F2F7;
}

.knowledge_box .top_title {
  display: flex;
}

.knowledge_box .know_left {
  position: relative;
  flex: 0 0 auto;
  width: 190px;
  max-height: 150px;
  min-height: 100px;
  margin-right: 10px;
}

.knowledge_box .know_left img {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  /* object-fit: cover; */
}

.box_li:not(:first-child) {
  margin-top: 12px;
}



.ant-modal-content {
  width: 400px;
  padding: 12px 0;
}

.share_box {
  width: 100%;
  margin-left: -12px;
}

.share_box img {
  width: 375px;
  height: auto;
  vertical-align: middle;
  border-style: none;
}