* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reading_main {
    padding: 20px;
}

.reading_top {
    padding-top: 20px;
    height: 150px;
}

.reading_top h1 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-weight: 700;
    font-size: 40px;

}

.reading_top p {
    margin-bottom: 12px;
    color: inherit;
    font-style: italic;
    text-align: center;
}

.markdown {
    text-align: left;
}

.markdown strong:before {
    content: "\300C";
}

.markdown strong:after {
    content: "\300D";
}

.vice {
    padding-top: 40px;
}

.reading_right {
    width: 100%;
    background-color: #fff;
}

.reading_right p {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 20px; */
    /* height: 20px; */
    /* padding: 20px; */
}

.publish_p p {
    height: 40px;
    border-bottom: 1px solid #000;
}