/* .right_Drawer {
  width: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 45%;
} */
.smallheaderbtn {
  border: none !important;
  float: right !important;
  margin-right: -140px !important;
}

ant-drawer-body {
  width: 100%;
}

.ant-drawer-mask {
  background: rgba(0, 0, 0, 0.05);
}

/* .icons {
    margin-top: 5px;
    margin-left: 16px;
  } */
.ant-menu-overflow {
  display: flex;
  flex-direction: row;
}

.ant-drawer-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ant-drawer-body .nav-top {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ant-drawer-body .right_Drawer {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ant-drawer-body .ant-space-item {
  margin-left: 0;
}

.ant-drawer-body .ant-space-vertical {
  width: 100% !important;
}

.ant-drawer-body .ant-space {
  width: auto !important;
}

.nav-top>li {
  width: 100px;
  text-align: center;
}

.nav-top>li>a {
  width: 100px;
  color: #000;
  text-align: center;
  font-weight: 700;
}

.nav-top>li>a:hover {
  color: red;
}