
.vice Button {
  margin: 5px;
}

.datas_span {
  font-size: 14px;
}


@keyframes example1 {
  0% {
    transform: translate(-60px);
    opacity: 0;
  }

  50% {
    transform: translate(-30px);
    opacity: 0.5;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  45% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  55% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes example3 {
  0% {
    opacity: 0;
  
  }

  100% {
    opacity: 1;
  }
}

