/* .Datachildren_DIV button{
    margin: 5px;
    border: 1px solid #ccc;
}
.Datachildren_DIV{
    width: 100%;
    background-color: #fff;
} */
.liao {
    width: 100%;
    display: flex;
}

.Appbox_p :hover {
    color: red;
}

.liao p {
    text-align: left;
    margin-left: 15px;
    flex-direction: column;
}

.liaos {}

.colorbox3 .liaos {
    display: flex;
    text-align: left;
    padding-left: 5px;
    width: 100%;
    border-top: #ccc solid 1px;
    /* height: 190px; */
    flex-direction: column;
    flex-wrap: nowrap;
}

.liaos>p:hover {
    color: red;
}

.liaos>p {
    margin-top: 5px;
}

.liaos>p span {
    color: #ccc;
}

/* .liaos dl{
      float: left;
    } */
.liaos dl dd {
    /* float: left; */
    padding-left: 10px;
    margin-top: 5px;
}

.liao_dd {
    width: 100%;
    display: inline-block;
    margin-bottom: 57px;
    /* height: 80px; */
}

.liaos dl dt {
    float: left;
    /* width: 25vw; */
    height: 125px;

    position: relative;
    flex: 0 0 auto;
    width: 190px;
    max-height: 150px;
    min-height: 100px;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    overflow: hidden;
}

.liaos dl dt img {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 100%;
    text-align: left;
    padding-left: 5px;
    width: 100%;
    /* border-top: #ccc solid 1px; */
    max-height: 170px;
    min-height: 70px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.liaos dl {
    display: flex;
    align-items: flex-end;
}

/* .know_span_svg{
    margin-top: 1px;3
  } */



/* .liaos:hover p {
    color: red;
  } */

.liaos:hover {
    cursor: pointer;
}

.liaos>p {
    margin-top: 5px;
    text-align: left;
    margin-left: 22px;
}

.liaos>p span {
    color: #8590A6;
}

.liaos>p b {
    font-size: 16px;
}

.liaos dl dd {
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}

.liao_dd {
    width: 50%;
    height: 80px;
}

.liaos dl dt {
    float: left;
}

.onlyDD {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 150px;
    min-height: 100px;
}

.liao_dd {
    width: 200px;
    height: auto;
    display: -webkit-box;
    max-width: 100%;
    color: var(--main-text-color);
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.iconfoucs {
    width: 100%;
    color: #8590a6;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.8rem;
}