* {
    margin: 0;
    padding: 0;
}

.slottal_head_h4 {

    width: 100%;
    height: 5vh;
    line-height: 5vh;
    border-bottom: 1px #f5f5f5 solid;
}

.slottal_head_div {

    text-align: left;
    width: 100%;
    margin-bottom: 2vh;
    padding-left: 10px;
    background-color: var(--block-bg-color);
    color: var(--note-text-color);
}

.slottal_head_div>div {
    font-size: 5px;
}

.slottal_head_div>div>li {
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
}

.slottal_head_div>div>li:hover {
    color: red;
}