:root.light {
  --block-bg-color: #eee;
  --note-text-color: #000;
}

:root.light .ant-row {
  background: #e7eaee;
}

:root.light .detail_main>div {
  color: #000;
}

:root.light .op,
:root.light .detail_main,
:root.light .slottal_head_div,
:root.light .ant-drawer-body {
  background: #fff;
  color: #000;
}

:root.light .ant-layout-header {
  background: #fff;
}

:root.light .ant-menu-item-selected>.ant-menu-title-content>a {
  color: #fc3462;
}

:root.light .ant-col {
  background-color: #e7eaee;
}

:root.light main {
  background: #eee;
  margin-top: 10px;
}

:root.light .main {
  background: #e7eaee;
}

:root.light .main_emsp {
  background: #e7eaee;
}

:root.light .slottal_head_div {
  background: #fff;
  color: #000;
  margin-top: 10px;
  text-align: left;
}

:root.light .vice {
  background-color: #e7eaee;
}

:root.light .colorbox1 {
  background: #fff;
}

:root.light .know_detil_main {
  background-color: #fff;
}

:root.dark .iconfooter {
  background: #313541 !important;
}

:root.dark .iconfooter .wechatbox {
  background: none;
}

:root.dark .colorbox1 {
  background: #252a35 !important;
}

:root.dark .heartbox {
  background: #252a35;
}

:root.dark .sharebox {
  background: #252a35;
}

:root.dark .wechatbox {
  background: #252a35;
}

:root.dark .archives_top h6 {
  color: #fff;
}

:root.dark .bud {
  background: #252a35 !important;
}

:root.dark .budtwo {
  background: #21242b !important;
}

:root.dark .budthree {
  background: #21242b !important;
}

:root.dark .ant-pagination span {
  color: #000;
}

:root.dark .ant-anchor-link-active>.ant-anchor-link-title {
  color: #FF0064;
  background-color: rgba(0, 0, 0, 0.1);
}

:root.dark .slottal_head_h4 {
  color: #fff;
}

:root.dark .markdown h3 {
  color: #fff;
}

:root.dark {
  --block-bg-color: #21242b;
  --note-text-color: #fff;
}

:root.dark .blockquote {
  color: #fff;
  background: #363b47;
}

:root.dark .detail_main,
:root.dark .slottal_head_div {
  color: #fff;
  background: #252a35;
}

:root.dark .cc>h2 {
  color: #fff;
  background: #313541 !important;
}

:root.dark .detContent>pre {
  color: #fff;
  background: #313541;
}

:root.dark .language-python,
:root.dark .markdown blockquote {
  border: none;
  color: #fff;
  background: #313541;
}

:root.dark .ant-drawer-body {
  background: #21242b;
}

:root.dark .ant-drawer-body a {
  color: #fff;
}

:root.dark .ant-drawer-body a:hover {
  color: red;
}

:root.dark .ant-menu.ant-menu-dark .ant-menu-item-selected,
:root.dark .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
:root.dark .ant-menu-overflow-item,
:root.dark .ant-menu-item,
:root.dark .ant-menu-item-only-child {
  background-color: #21242b;
  color: red;
}

:root.dark .ant-menu-item-only-child:hover {
  background-color: #21242b;
}

:root.dark .ant-menu-title-content>a {
  color: #fff;
}

:root.dark .ant-layout-header {
  background: #21242b;
  border-bottom: 1px solid rgba(178, 177, 177, 0.795);
}

:root.dark .vice {
  background: #21242b !important;
}

:root.dark .vice button {
  color: #fff;
  background: #363b47;
}

:root.dark .op {
  background: #363b47;
  color: #fff;
}

:root.dark .archives_mask {
  color: #fff;
  background: #363b47;
}

:root.dark .colorbox2,
:root.dark .colorbox3>div {
  border-top: 1px solid #888;
  color: #fff;
  background: #363b47;
}

:root.dark .ant-col {
  background: none;
}

:root.dark .knowledge_box {
  color: #fff;
  background: #363b47;
}

:root.dark .ant-btn-default,
:root.dark .ant-btn-primary,
:root.dark .ant-input:placeholder-shown {
  color: #fff;
  background: #363b47;
}

:root.dark .ant-modal-header,
:root.dark .ant-modal-content {
  color: #fff;
  background: #363b47;
}

:root.dark .ant-menu.ant-menu-dark,
:root.dark .ant-menu-dark .ant-menu-sub,
:root.dark .ant-menu.ant-menu-dark .ant-menu-sub {
  background: #21242b;
}

:root.dark main {
  margin-top: 0px;
}

:root.dark .main {
  background: #363b47;
  box-shadow: 1px 1px 10px 5px #1a1c21;
}

:root.dark .colorbox1 {
  background: #363b47;
  color: #fff;
}

:root.dark .slottal_head_h4 {
  color: #fff;
}

:root.dark .slottal_head_div {
  background: #21242b;
  color: #fff;
  margin-top: 10px;
  text-align: left;
}

:root.dark .op>div {
  background-color: #21242b;
}

:root.dark .colorbox1 {
  background: #21242b;
}

:root.dark .op .colorbox3 .liao {
  background: #21242b;
}

:root.dark footer {
  background: #21242b;
  border-top: 1px solid rgba(178, 177, 177, 0.795);
}

:root.dark .ant-row {
  background: #21242b;
}

:root.dark .ant-anchor-link>a {
  color: #fff;
}

:root.dark .ant-menu-item-selected>.ant-menu-title-content>a {
  color: #fc3462;
}

:root.dark .ant-anchor-link>a:hover {
  color: #fc3462;
}

:root.dark .ant-dropdown-trigger {
  background: none;
}

:root.dark #markdown>h3,
:root.dark h2,
:root.dark h1,
:root.dark span,
:root.dark p,
:root.dark li,
:root.dark code,
:root.dark td,
:root.dark th {
  color: #fff;
}

:root.dark .know_detil_main {
  background-color: #21242b;
}

:root.dark .knowledge_box .box_li::after {
  background-color: rgba(255, 255, 255, 0.33);
}

:root.dark .detail_box .topNav .ant-breadcrumb ol {
  background-color: #21242b;
  margin-left: -2px;
}

:root.dark .op .detail_box .detail_title {
  background-color: #21242b;
  margin-left: -2px;
}

:root.dark .detail_box .topNav .ant-breadcrumb ol li span {
  color: rgba(255, 255, 255, 0.6);
}

:root.dark .detail_box .topNav .ant-breadcrumb ol li span a {
  color: rgba(255, 255, 255, 0.6);
}

:root.dark .detail_box .detail_bigbox {
  background-color: #363b47;
}


:root.dark .vice {
  background: #21242b !important;
}

:root.dark .zxf {
  background: #21242b !important;
}


:root.dark .detail_box .content .ant-btn-primary {
  background-color: red;
}

:root.dark .right_bigbox .detail_rifht_title {
  background-color: #21242b;
}

:root.dark .vice .null {
  background-color: #21242b;
}

:root.dark .right_bigbox .know_detil_main .bottom_box {
  border-bottom: 2px solid #474b57;
}

:root.dark .right_bigbox .know_detil_main {
  background-color: #363b47;
}

:root.dark .right_bigbox .know_detil_main:last-child .bottom_box {
  border-bottom: none;
}