:root.light {
    --block-bg-color: #eee;
    --note-text-color: #000;

    .ant-row {
        background: #e7eaee;

    }

    .detail_main>div {
        color: #000;
    }

    .op,
    .detail_main,
    .slottal_head_div,
    .ant-drawer-body {
        background: #fff;
        color: #000;
    }



    .ant-layout-header {
        background: #fff;
    }

    .ant-menu-item-selected>.ant-menu-title-content>a {
        color: rgb(252, 52, 98);
    }

    .ant-col {

        background-color: #e7eaee;
    }

    main {
        background: #eee;

        margin-top: 10px;
    }

    .main {
        background: #e7eaee;
    }

    .main_emsp {
        background: #e7eaee;
    }

    .slottal_head_div {
        background: #fff;
        color: #000;
        margin-top: 10px;
        text-align: left;
    }

    .vice {
        background-color: #e7eaee;
    }

    .colorbox1 {
        background: #fff;
    }

    .know_detil_main {
        background-color: #fff;
    }
}



:root.dark .iconfooter {
    background: #313541 !important;
}

:root.dark .iconfooter .wechatbox {
    background: none;
}

:root.dark .colorbox1 {
    background: #252a35 !important;
}

:root.dark .heartbox {
    background: #252a35;
}

:root.dark .sharebox {
    background: #252a35;
}

:root.dark .wechatbox {
    background: #252a35;
}

:root.dark .archives_top h6 {
    color: #fff;
}


:root.dark .bud {
    background: #252a35 !important;
}

:root.dark .budtwo {
    background: #21242b !important;
}

:root.dark .budthree {
    background: #21242b !important;
}

:root.dark .ant-pagination span {
    color: #000;
}

:root.dark .ant-anchor-link-active>.ant-anchor-link-title {
    color: #FF0064;
    background-color: rgba(0, 0, 0, 0.1);
}

:root.dark .slottal_head_h4 {
    color: #fff;
}

:root.dark .markdown h3 {
    color: #fff;
}



:root.dark {
    --block-bg-color: #21242b;
    --note-text-color: #fff;

    .blockquote {
        color: #fff;
        background: #363b47;
    }

    .detail_main,
    .slottal_head_div {
        color: #fff;
        background: #252a35;
    }

    .cc>h2 {
        color: #fff;
        background: #313541 !important;
    }

    .detContent>pre {
        color: #fff;
        background: #313541;
    }

    .language-python,
    .markdown blockquote {
        border: none;
        color: #fff;
        background: #313541;
    }

    .ant-drawer-body {
        background: #21242b;

        a {
            color: #fff;
        }

        a:hover {
            color: red;
        }
    }

    .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-overflow-item,
    .ant-menu-item,
    .ant-menu-item-only-child {
        background-color: #21242b;
        color: red;
    }

    .ant-menu-item-only-child:hover {
        background-color: #21242b;

    }

    .ant-menu-title-content>a {
        color: #fff;
    }

    .ant-layout-header {
        background: #21242b;
        border-bottom: 1px solid rgba(178, 177, 177, 0.795);
    }

    .vice {
        background: #21242b !important;
        // box-shadow: 1px 1px 10px 5px #1a1c21;

        button {
            color: #fff;
            background: #363b47;
        }
    }

    .op {
        background: #363b47; //没有用
        color: #fff;

    }

    .archives_mask {
        color: #fff;
        background: #363b47;
    }

    .colorbox2,
    .colorbox3>div {
        border-top: 1px solid #888;
        color: #fff;
        background: #363b47;
    }


    .ant-col {
        background: none;
    }

    //有用
    .knowledge_box {
        color: #fff;
        background: #363b47;
    }

    .ant-btn-default,
    .ant-btn-primary,
    .ant-input:placeholder-shown {
        color: #fff;
        background: #363b47;
    }

    .ant-modal-header,
    .ant-modal-content {
        color: #fff;
        background: #363b47;
    }

    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {

        background: #21242b;
    }

    main {
        margin-top: 0px;
    }

    .main {
        background: #363b47;
        box-shadow: 1px 1px 10px 5px #1a1c21;
    }

    .colorbox1 {
        background: #363b47;
        color: #fff
    }

    .slottal_head_h4 {
        color: #fff
    }

    .slottal_head_div {
        background: #21242b;
        color: #fff;
        margin-top: 10px;
        text-align: left;
    }

    .op>div {
        background-color: #21242b;
    }

    .colorbox1 {
        background: #21242b;
    }

    .op .colorbox3 .liao {
        background: #21242b;
    }

    footer {
        background: #21242b;
        border-top: 1px solid rgba(178, 177, 177, 0.795);

    }

    .ant-row {
        background: #21242b;

    }

    .ant-anchor-link>a {
        color: #fff;
    }

    .ant-menu-item-selected>.ant-menu-title-content>a {
        color: rgb(252, 52, 98);
    }

    .ant-anchor-link>a:hover {
        color: rgb(252, 52, 98);
    }

    .ant-dropdown-trigger {
        background: none;
    }

    #markdown>h3,
    h2,
    h1,
    span,
    p,
    li,
    code,
    td,
    th {
        color: #fff;
    }

    //有用
    .know_detil_main {
        background-color: #21242b;
    }

    //有用
    .knowledge_box .box_li::after {
        background-color: rgba($color: #ffffff, $alpha: .33);
    }

    .detail_box .topNav .ant-breadcrumb ol {
        background-color: #21242b;
        margin-left: -2px;
    }

    .op .detail_box .detail_title {
        background-color: #21242b;
        margin-left: -2px;
    }

    //有用
    .detail_box .topNav .ant-breadcrumb ol li span {
        color: rgba($color: #ffffff, $alpha: .6)
    }

    //有用
    .detail_box .topNav .ant-breadcrumb ol li span a {
        color: rgba($color: #ffffff, $alpha: .6)
    }

    //有用
    .detail_box .detail_bigbox {
        background-color: #363b47;
    }
}



:root.dark .vice {
    background: #21242b !important;
}

    // .right_bigbox .detail_rifht_title{
    //     background-color: #21242b;
    // }

    // .vice .null{
    //     background-color: #21242b;
    // }

.vice .null {
    background-color: #21242b;
}

.right_bigbox .know_detil_main .bottom_box {
    border-bottom: 2px solid rgb(255,255,255, 0.33);
}

.right_bigbox .know_detil_main {
    background-color: #363b47;
}

.right_bigbox .know_detil_main:last-child .bottom_box {
    border-bottom: none;
}

// .op .reading_main{
//     background-color: red;
// }

// .reading_right{
//     background-color: red;
// }