.colorbox3 .liao {
  display: flex;
  text-align: left;
  padding-left: 5px;
  width: 100%;
  border-top: #ccc solid 1px;
  /* height: 190px; */
  flex-direction: column;
  flex-wrap: nowrap;
}

.liao>p:hover {
  color: red;
}

.liao>p {
  margin-top: 5px;
}

.liao>p span {
  color: #ccc;
}

/* .liao dl{
    float: left;
  } */
.liao dl dd {
  /* float: left; */
  padding-left: 10px;
  margin-top: 5px;
}

.liao_dd {
  width: 100%;
  display: inline-block;
  margin-bottom: 57px;
  /* height: 80px; */
}

.liao dl dt {
  float: left;
  /* width: 25vw; */
  height: 125px;

  position: relative;
  flex: 0 0 auto;
  width: 190px;
  max-height: 150px;
  min-height: 100px;
  border-radius: var(--border-radius);
  margin-right: 1rem;
  overflow: hidden;
}

.liao dl dt img {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  height: 100%;
  text-align: left;
  padding-left: 5px;
  width: 100%;
  /* border-top: #ccc solid 1px; */
  max-height: 170px;
  min-height: 70px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.liao dl {
  display: flex;
  align-items: flex-end;
}

/* .know_span_svg{
  margin-top: 1px;3
} */



/* .liao:hover p {
  color: red;
} */

.liao:hover {
  cursor: pointer;
}

.liao>p {
  margin-top: 5px;
}

.liao>p span {
  color: #8590A6;
}

.liao>p b {
  font-size: 16px;
}

.liao dl dd {
  float: left;
  padding-left: 10px;
  margin-top: 5px;
}

.liao_dd {
  width: 50%;
  height: 80px;
}

.liao dl dt {
  float: left;
}

.onlyDD {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 150px;
  min-height: 100px;
}

.liao_dd {
  width: 200px;
  height: auto;
  display: -webkit-box;
  max-width: 100%;
  color: var(--main-text-color);
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.iconfoucs {
  width: 100%;
  color: #8590a6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0.8rem;
}