.img_404 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.img_404 img {
  width: 400px;
  height: 500px;
}

.button_404 {
  border: none;
  color: #fff;
  background: red;
  padding: 5px;
  font-size: 20px;
  position: absolute;
}

.button_404 a {
  color: #fff;
}
