.img_404 {
    // margin-left: 35%;
    margin-top: 5%;
    display: flex;
   
    img{
        width: 400px;
        height: 500px;
    }
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}

.button_404 {
    
    border: none;
    color: #fff;
    background: red;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    a{
        color: #fff;
    }
   
   
}