.colorbox3 .liaoa {
  display: flex;
  text-align: left;
  padding-left: 5px;
  width: 100%;
  border-top: #F0F2F7 solid 1px;
  max-height: 170px;
  min-height: 70px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.liaoa:hover p {
  color: red;
}

.liaoa:hover {
  cursor: pointer;
}

.liaoa>p {
  margin-top: 5px;
  margin-left: 10px;
}

.liaoa>p span {
  color: #8590a6;
}

.liaoa>p b {
  font-size: 16px;
}

.liaoa dl {
  max-height: 110px;
  margin-left: 10px;
}

/* .liaoa dl dd {
  float: left;
  padding-left: 10px;
  margin-top: 5px;
} */

.liaoa_dd {
  width: 50%;
  height: 80px;
}

.liaoa dl dt {
  float: left;
}

.onlyDD {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 150px;
  min-height: 100px;
}

.liaoa_dd {
  width: 200px;
  height: auto;
  display: -webkit-box;
  max-width: 100%;
  color: var(--main-text-color);
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.iconfoucs {
  width: 100%;
  color: #8590a6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0.8rem;
}