#ArticleChile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: #ccc; */
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ArticleChile_dic {
  position: absolute;
  ;
  width: 380px;
  height: auto;
  background-color: #fff;
  left: 35%;
  top: 15%;
  text-align: left;
  /* padding: 0 10px 0 10px; */
}

.ArticleChile_dic>div {
  margin: 10px;
}

.ArticleChile_dic>div>h3 {
  width: 100%;
  height: 20%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}



.ArticleChile_dic_div {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 1px;
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  margin-bottom: 4px;
  /* position: relative; */
  overflow: hidden;
}

.ArticleChile_dic_div_p {
  display: flex;
  justify-content: flex-end;
}

.ArticleChile_dic_div_pp {
  display: flex;
}

.ArticleChile_dic_div_pp dl {
  font-size: 14px;
}

.ArticleChile_dic_div_pp dl p a {
  font-size: 5px;
  color: #ccc;
}

.ArticleChile_dic_div_img {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  height: 200px;
  width: 375px;
  /* transform: translate3d(-50%,-50%,0);
  object-fit: cover; */
  margin-top: 10px;
}

.ArticleChile_dic_div_img>img {
  height: 200px;
  width: 100%;
}

.ArticleChile_dic_qrcodesrc {
  width: 100%;
  display: flex;
}

.ArticleChile_dic_qrcodesrc p {
  width: auto;
  height: 100px;
  margin-right: 10px;
}

.ArticleChile_dic_qrcodesrc p>img {
  width: 100px;
  height: 100px;
}

.ArticleChile_dic_qrcodesrc_sapn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}