@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body,
#root,
.homebox {
  width: 100%;
  height: 100%;
  /* background-color: #e7eaee; */
}

menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #fff;
  /* color: red; */
}



.ant-menu-item-selected>.ant-menu-title-content>a {
  color: red;
  z-index: 10;
}

.ant-layout-header .ant-layout-header:nth-child(3) {
  opacity: 1;
  order: 2;
  overflow-y: none;
  position: static;
  background-color: aqua;
}

.ant-menu-title-content>a {
  font-weight: 700;
  font-size: 15px;
}

.ant-row {
  height: 100%;
}

.ant-col {
  text-align: center;
  /* background-color: #e7eaee; */
}

.apbox {
  width: 100%;
  height: 100%;
}

header {
  height: 64px;
  width: 100%;
}

.slottal_head_div {
  /* background: #fff !important; */
  list-style: none;
  padding: 10px;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  background: #e7eaee;
  margin-top: 64px !important;
  /* flex: 1; */

}

footer {
  height: 105px;
  width: 100%;
  background-color: #333;
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerdiv {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.spanpl:hover {
  color: #ff0064;
  cursor: pointer;
}

.detail_main {
  background: #fff;
}

.main {
  height: calc(100% - 10px);
  width: 100%;

  margin-top: 10px;
  padding-bottom: 10px;
}

.vice {
  height: calc(100% - 10px);
  width: 305px;
  background: #e7eaee;
  /* width: 100%;
  background: #fff; */
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.wechaths .ant-anchor-link-active>.ant-anchor-link-title {
  color: #000 !important;
  background: none !important;
  width: 20px;
  height: 20px;
  margin-left: -16px !important;
}

.wechaths .ant-anchor-link-active>.ant-anchor-link-title {
  color: #000 !important;
  background: none !important;
  width: 20px;
  height: 20px;
  margin-left: -16px !important;
}

.wechaths .ant-anchor-link-title {
  width: 20px;
  height: 20px;
  margin-left: -16px !important;
}

/* 占位盒子 */
.op {
  width: calc(100% - 1px);
  height: auto;
  float: left;
}


.sup {
  width: 1px;
  height: 720px;

  float: left;
}

.cc {
  width: 100%;
  height: auto;
  position: relative;
}

.language-python {
  position: relative;
}

.language-HTML {
  position: relative;
}

.swipered {
  width: calc(100% - 1px);
  height: 332px;
  /* height: auto; */
  position: relative;
  /* box-shadow: 2px 2px 5px gray; */
}

.swiper {
  /* height: calc(100% - 10px); */
  height: 100%;
  width: calc(100% - 10px);
  margin-left: 5px;
  padding-top: 5px !important;
}

.swiperimages {
  width: 100%;
  height: 100%;
  /* height: 332px; */
}

.copyone {
  position: absolute;
  top: 685px;
  right: 100px;
  z-index: 9;
  font-size: 17px;
}

.copytwo {
  position: absolute;
  top: 1670px;
  right: 100px;
  z-index: 9;
  font-size: 17px;
}

#talk {
  width: 100%;
  height: 222px;
}

#talk .publishbox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ant-modal-wrap>.ant-modal {
  top: none;
}

.ant-anchor-link-active>.ant-anchor-link-title {
  color: #FF0064 !important;
  background-color: #f0f1f3;
}

.ant-anchor-link-title:hover {
  color: #FF0064;
}

.slottal_head_div>div>li:hover {
  color: #FF0064;
}

textarea.ant-input {
  width: 92%;
  height: 170px;
}

.ant-anchor {
  margin-left: 38px;
}

.smilehover:hover {
  cursor: pointer;
  color: #FF0064;
  /* width: 100px; */
}

.smilehover .anticon svg {
  font-size: 16px;
  color: #666;
}

.smilehover span {
  margin-left: 6px;
}

.swiperimages {
  width: 100%;
  height: 100%;
}

.archives_search>ul>li:hover {
  color: #FF0064;
}

.swiper-horizontal>.swiper-scrollbar {
  display: none;
}


.swiperP1 {
  color: #fff;
}

.swiperP2 {
  color: #fff;
  font-size: 16px;
}


.colorbox1 {
  width: 100%;
  height: 15px;
  margin-top: 5px;
}

.colorbox2 {
  width: 100%;
  padding: 17px 0;
  padding-left: 5px;
  background-color: #fff;
  text-align: left;
}

.colorbox2 span:hover {
  color: #FF0064;
}

.colorbox3 {
  background-color: #fff;
  /* box-shadow: 2px 2px 5px gray; */
}

.Abox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  /* background: #000;
  opacity: 0.3; */
  background: rgba(0, 0, 0, 0.35);
  font-size: 16px;
}

.midbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heart {
  cursor: pointer;
  font-size: 20px;
}


.span1 {
  color: #fff;
  background: #FF0064;
  padding: 1px 6px 1px 6px;
  border-radius: 10px;
  position: fixed;
  top: 184px;
  left: 146px;
}

.ant-badge-count {
  top: -5px;
  left: 1px;
}

.heart:hover {
  color: #FF0064 !important;
}

.span1 {
  color: #fff;
  background: #FF0064;
  padding: 1px 6px 1px 6px;
  border-radius: 10px;
  position: fixed;
  top: 184px;
  left: 146px;
}

/* .ant-anchor-wrapper{
  margin-left: -40px;
} */
.ant-anchor-ink::before {
  background: #e7eaee;
}


.shareicon {

  cursor: pointer;
  font-size: 22px;

}

.icondiv {
  position: fixed;
  top: 30vh;
  margin-left: 50px;
  padding-right: 10px;
  transform: translateX(100%);
  width: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.Appbox_p {
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
}

.wechat {
  cursor: pointer;
  font-size: 20px;
  margin-right: 47px;
}

.wechat:hover {
  color: #FF0064 !important;
}

.shareicon {
  cursor: pointer;
  font-size: 20px;
}

.shareflex {

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.qrcodes>div>.text-right {
  margin-left: -30px !important;
  display: flex;
  flex-direction: column;
  height: 100px;
  padding-top: 10px;

  justify-content: space-between;
}

.shareflex>h3 {
  line-height: 25px;
  margin-top: 5px;
}

.ant-modal-wrap {
  z-index: 999999999999 !important;
}



.qrcodes>div>img {
  /* margin-left: -124px; */
  float: left;
}

.qrcodes>div>img {
  width: 110px;
  height: 110px;
}

.shareflex>.text-title {

  float: left;
  margin-top: 10px;
}

.shareicon:hover {
  color: #FF0064 !important;
}

.qrcodes {

  justify-content: space-around;
  align-items: center;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-image-preview-wrap {
  z-index: 999999;
}

#components-layout-demo-top {
  float: left;
  width: 120px;
  height: 31px;

  margin: 16px 24px 16px 0;
  border-color: #000;
  background: rgba(255, 255, 255, 0.3);
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  border-color: #000;
  margin-left: -350px;
  background: #fff;
}

.ant-menu-dark {
  width: 270px;
}

.ant-menu-title-content {
  border-color: #000;
}

.ant-menu-overflow {
  width: 300px;
  background: #fff;
  margin-left: 150px;
}

.ant-back-top {
  bottom: 60px;
}

.ant-menu-overflow {
  margin-left: -50px;
  padding-left: -20px;

}

.ant-menu-item-only-child {
  margin-left: 1px;
}

.ant-menu-overflow,
.ant-menu,
.ant-menu-root,
.ant-menu-horizontal,
.ant-menu-dark {
  color: #000;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
  background-color: #fff;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover>span>a {
  color: #ff0064;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  border-color: #000;
  background: #fff;
}

.ant-menu-title-content>a {
  font-weight: 500;
  font-size: 15px;
}

.imgtop {
  width: 36px;
  height: 36px;
  line-height: 64px;
  margin-left: 10%;
  margin-top: 20px;
}

.ant-layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shareflex>img {
  margin-left: none;

}

.ant-btn-primary {

  box-shadow: none;
}

.ant-modal-body {
  padding: 10px !important;

}

.ant-modal {
  width: 400px !important;
}

.ant-modal-footer>.ant-btn-primary {
  margin-right: -10px;
}

.ant-menu-item {
  border-color: #000;
}

.ant-btn-primary {
  background-color: none;
  border: none;
}

.icon>svg {
  width: 24px;
  height: 24px;
}

.ant-btn-default {
  border: none;
}



.rights>svg {
  margin-top: 1px;
  transition: 1s;

  /* transition: 1.5s opacity ease-in-out; */
}

.rights>svg:hover {
  transform: perspective(800px) rotateZ(-45deg);
}

.rights .anticon-search {
  margin-left: 22px;
  margin-top: 12px;

}

.ant-space-item {
  height: 30px;
}

.icon>svg {
  width: 21.43px;
  height: 21.43px;
}

.ant-menu-overflow {
  width: 350px;
  background: #fff;
  margin-left: 50px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #fff;
  /* color: red; */
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
  color: #000;
}

.floag {
  margin-right: 10%;
}

.smallheaderbtn {
  color: #fff !important;
  /* border-color: #1890ff; */
  /* background: #1890ff; */
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
  border-color: none !important;
  background: none !important;
}

.smallheaderbtn:hover,
.smallheaderbtn:focus {
  color: #fff !important;
  border-color: none !important;
  background: none !important;
}

.smallheaderbtn:hover {
  border-color: none !important;
  background: none !important;
}

.colorbox2 span {
  cursor: pointer;
  font-size: 14px !important;
  font-weight: bold !important;
  padding-left: 12px;
}

.colorbox2 span:hover {
  color: #ff0064;
}


a {

  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

.ant-layout {

  width: 100px;
}

.rights {
  height: 50px;
  margin-top: 5px;
  width: 150px;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.archives_search li {
  margin: 15px;
  cursor: pointer;
}

.archives_mask {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.swiper-wrapper {
  height: 99.8% !important;
}

.colorbox3 .liao b {
  cursor: pointer;
}

.colorbox3 .liao p {
  margin-left: 10px;
  padding-top: 4px;
}

.colorbox3 .liao dl {
  margin-left: 10px;
}

.archives_mask_div {
  margin-left: 10%;
  width: 80%;

  height: 60px;

}

.archives_mask_div>span {
  float: left;
}

.archives_mask_div>div {
  padding: 10px;
  float: right;
  color: #888;
}

.archives_mask_div>div>p {
  line-height: 10px;
  margin-bottom: 15px;
}

.archives_x {
  font-size: 40px;


}

.archives_mask_div>p {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.archives_searchArticle {
  font-size: 25px;
  font-weight: 800;
}

.archives_CloseOutlined {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: pink;
}

.archives_CloseOutlined>b {
  margin-bottom: -10px;
  font-size: 50px;
  font-weight: 100;

}

.ant-input-wrapper,
.ant-input-groupm,
.ant-input-group-wrapper,
.ant-space,
.ant-space-vertical {
  width: 96%;
}

.ant-space-item {
  margin-left: 10%;
}



.archives_search {
  width: 90%;
  margin-left: 10%;
}

.anticon-search>svg {
  margin-right: 9px;
}

.ant-btn-icon-only>.anticon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-input-search-button {
  border: 1px solid #ccc;
}

.ant-input-search-button>.anticon-search {
  display: inline-block;
  margin-left: 9px;
  margin-top: 5px;
}

.ant-input-search-button.ant-input-search>.anticon-search>svg {
  color: red;
  width: 3em;
  height: 3em;
}

.heartbox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sharebox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wechatbox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icondiv .ant-anchor-wrapper {
  margin-left: -40px;
}

.ant-anchor-ink::before {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

.iconfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Dts {
  position: relative;
  flex: 0 0 auto;
  width: 190px;
  max-height: 150px;
  min-height: 100px;
  border-radius: var(--border-radius);
  margin-right: 1rem;
  overflow: hidden;
}

.Imgs {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
  border-radius: 3px;
}


.vice .ant-anchor {
  text-align: left;
}

.vice .ant-anchor a {
  padding: 2px;
  font-weight: 500;
}

/* 
.vice .ant-anchor .ant-anchor-link {
  margin-left: 20px;
} */
.level3 {
  margin-left: 15px;
}

iframe {
  width: 100%;
  height: 500px;
}