@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('typora-docsify/codeblock.css');

:root {
  --bg-color: #FFF;
  --text-color: #222;
  --meta-content-color: #06B;
  --primary-color: #24D;
  --active-file-bg-color: rgba(51, 51, 51, 0.05);
  --active-file-border-color: #24D;
  --side-bar-bg-color: #EEE;
  --item-hover-bg-color: rgba(127, 127, 127, 0.1);
  --item-hover-text-color: inherit;
  --monospace: 'JetBrains Mono', Menlo, Consolas, 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', monospace;
}

html,
body,
#write {
  background: #FFF;
  font: 400 1rem/1.75 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
  color: #222;
  min-height: 100vh;
}

#write,
.markdown-section {
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
  /* ============================== 代码 引用 ==============================*/
}

#write *,
.markdown-section *,
#write *::before,
.markdown-section *::before,
#write *::after,
.markdown-section *::after {
  word-break: normal;
  box-sizing: border-box;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

#write h1,
.markdown-section h1,
#write h1 *,
.markdown-section h1 *,
#write h2,
.markdown-section h2,
#write h2 *,
.markdown-section h2 *,
#write h3,
.markdown-section h3,
#write h3 *,
.markdown-section h3 *,
#write h4,
.markdown-section h4,
#write h4 *,
.markdown-section h4 *,
#write h5,
.markdown-section h5,
#write h5 *,
.markdown-section h5 *,
#write h6,
.markdown-section h6,
#write h6 *,
.markdown-section h6 * {
  color: #24D;
  font-family: 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
  font-weight: normal;
  padding: 0 !important;
  margin: 1em 0 0 !important;
  line-height: 1.25 !important;
}

#write h1::before,
.markdown-section h1::before,
#write h1 *::before,
.markdown-section h1 *::before,
#write h2::before,
.markdown-section h2::before,
#write h2 *::before,
.markdown-section h2 *::before,
#write h3::before,
.markdown-section h3::before,
#write h3 *::before,
.markdown-section h3 *::before,
#write h4::before,
.markdown-section h4::before,
#write h4 *::before,
.markdown-section h4 *::before,
#write h5::before,
.markdown-section h5::before,
#write h5 *::before,
.markdown-section h5 *::before,
#write h6::before,
.markdown-section h6::before,
#write h6 *::before,
.markdown-section h6 *::before {
  font: 400 0.8em 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
  color: inherit;
  margin-right: 0.5rem;
  border: none;
  position: relative;
  left: unset;
  top: unset;
  float: none;
  padding: 0;
  vertical-align: baseline;
  opacity: 1 !important;
}

#write h1.md-focus:after,
.markdown-section h1.md-focus:after,
#write h1 *.md-focus:after,
.markdown-section h1 *.md-focus:after,
#write h2.md-focus:after,
.markdown-section h2.md-focus:after,
#write h2 *.md-focus:after,
.markdown-section h2 *.md-focus:after,
#write h3.md-focus:after,
.markdown-section h3.md-focus:after,
#write h3 *.md-focus:after,
.markdown-section h3 *.md-focus:after,
#write h4.md-focus:after,
.markdown-section h4.md-focus:after,
#write h4 *.md-focus:after,
.markdown-section h4 *.md-focus:after,
#write h5.md-focus:after,
.markdown-section h5.md-focus:after,
#write h5 *.md-focus:after,
.markdown-section h5 *.md-focus:after,
#write h6.md-focus:after,
.markdown-section h6.md-focus:after,
#write h6 *.md-focus:after,
.markdown-section h6 *.md-focus:after {
  color: #BBB;
  font-size: 0.8em;
}

#write h1:first-child,
.markdown-section h1:first-child {
  padding-top: 3em !important;
}

#write h1 *,
.markdown-section h1 * {
  font: 2rem 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
}

#write h2,
.markdown-section h2 {
  border: none;
  border-top: 1px solid #24D;
  padding-top: 1em !important;
  margin-top: 2em !important;
  display: block;
}

#write h2,
.markdown-section h2,
#write h2 *,
.markdown-section h2 * {
  font-size: 1.75rem;
}

#write h3,
.markdown-section h3,
#write h3 *,
.markdown-section h3 * {
  font-size: 1.5rem;
}

#write h4,
.markdown-section h4,
#write h4 *,
.markdown-section h4 * {
  font-size: 1.25rem;
  font-weight: 500;
}

#write h5,
.markdown-section h5,
#write h5 *,
.markdown-section h5 * {
  font-size: 1.125rem;
  font-weight: 600;
}

#write h6,
.markdown-section h6,
#write h6 *,
.markdown-section h6 * {
  font-size: 1rem;
  font-weight: 700;
}

#write h1,
.markdown-section h1 {
  counter-reset: h2;
}

#write h2,
.markdown-section h2 {
  counter-reset: h3;
}

#write h3,
.markdown-section h3 {
  counter-reset: h4;
}

#write h4,
.markdown-section h4 {
  counter-reset: h5;
}

#write h5,
.markdown-section h5 {
  counter-reset: h6;
}

#write h2::before,
.markdown-section h2::before {
  counter-increment: h2;
  content: counter(h2) ".";
}

#write h3::before,
.markdown-section h3::before {
  counter-increment: h3;
  content: counter(h2) "."counter(h3);
}

#write h4::before,
.markdown-section h4::before {
  counter-increment: h4;
  content: counter(h2) "."counter(h3) "."counter(h4);
}

#write h5::before,
.markdown-section h5::before {
  counter-increment: h5;
  content: none;
}

#write h6::before,
.markdown-section h6::before {
  counter-increment: h6;
  content: none;
}

#write h2.md-focus::after,
.markdown-section h2.md-focus::after {
  content: ' H2';
}

#write h3.md-focus::after,
.markdown-section h3.md-focus::after {
  content: ' H3';
}

#write h4.md-focus::after,
.markdown-section h4.md-focus::after {
  content: ' H4';
}

#write h5.md-focus::after,
.markdown-section h5.md-focus::after {
  content: ' H5';
}

#write h6.md-focus::after,
.markdown-section h6.md-focus::after {
  content: ' H6';
}

#write p,
.markdown-section p,
#write pre.md-fences,
.markdown-section pre.md-fences,
#write pre[data-lang],
.markdown-section pre[data-lang],
#write blockquote,
.markdown-section blockquote,
#write table:not(.md-grid-board),
.markdown-section table:not(.md-grid-board),
#write ul,
.markdown-section ul,
#write ol,
.markdown-section ol,
#write hr,
.markdown-section hr {
  margin: 1rem 0;
}

#write hr,
.markdown-section hr {
  height: 0;
  border: none;
  border-bottom: 1px dotted #24D;
}

#write .inline-with-bg,
.markdown-section .inline-with-bg {
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 0.25em;
}

#write del,
.markdown-section del,
#write q,
.markdown-section q,
#write mark,
.markdown-section mark {
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 0.25em;
}

#write strong,
.markdown-section strong,
#write b,
.markdown-section b,
#write em,
.markdown-section em {
  margin: 0 0.1rem;
}

#write u,
.markdown-section u {
  margin: 0 0.1rem;
}

#write u strong,
.markdown-section u strong,
#write u b,
.markdown-section u b,
#write u em,
.markdown-section u em {
  margin: 0;
}

#write p a,
.markdown-section p a,
#write table a,
.markdown-section table a,
#write li a,
.markdown-section li a {
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 0.25em;
  color: #93F;
  padding: 0;
  transition: 1s;
}

#write a:hover,
.markdown-section a:hover {
  color: #F30;
  background: #FF4;
  text-decoration-color: red;
  transition: 0.3s;
}

#write a.anchor,
.markdown-section a.anchor {
  text-decoration: underline;
  text-decoration-color: transparent;
}

#write a.anchor:hover,
.markdown-section a.anchor:hover {
  background: #FF4;
}

#write del,
.markdown-section del {
  color: rgba(34, 34, 34, 0.5);
  background: #EEE;
}

#write u,
.markdown-section u {
  text-decoration-color: #F30;
}

#write mark,
.markdown-section mark {
  color: #F30;
  background: #FF4;
}

#write mark u,
.markdown-section mark u {
  text-decoration: none;
  border-bottom: 1.5px solid #F30;
  background: #FF4;
}

#write em,
.markdown-section em {
  color: #F69;
}

#write q,
.markdown-section q {
  font-size: 0.9em;
  background: #EEE;
  opacity: 0.5;
}

#write q::before,
.markdown-section q::before,
#write q::after,
.markdown-section q::after {
  content: '';
}

#write q:hover,
.markdown-section q:hover {
  opacity: 1;
}

#write .md-linebreak-mark,
.markdown-section .md-linebreak-mark,
#write .md-raw-html-src-content,
.markdown-section .md-raw-html-src-content,
#write .md-raw-inline,
.markdown-section .md-raw-inline,
#write .md-tag,
.markdown-section .md-tag,
#write [md-inline=linebreak],
.markdown-section [md-inline=linebreak] {
  opacity: 1;
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 0.25em;
  background: #EEE;
  color: inherit;
}

#write ruby>rt,
.markdown-section ruby>rt {
  font-size: clamp(10px, 0.5em, 99em) !important;
}

#write code,
.markdown-section code,
#write kbd,
.markdown-section kbd,
#write code:not([class*="lang-"]):not([class*="language-"]),
.markdown-section code:not([class*="lang-"]):not([class*="language-"]) {
  color: #AE2;
  background: #333;
  border: 0px solid transparent;
  border-radius: 0.25em;
  padding: 0.1em 0.3rem;
  margin: 0 0.1rem;
  font: bold 0.9em 'JetBrains Mono', Menlo, Consolas, 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', monospace;
  white-space: pre-wrap;
  min-width: auto;
}

#write .code_block,
.markdown-section .code_block {
  background: #333;
  color: #FFF;
  border: 0px solid transparent;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  word-break: break-word;
  white-space: break-spaces;
}

#write pre[data-lang],
.markdown-section pre[data-lang] {
  border-radius: 0;
  background: none;
}

#write pre[data-lang] code,
.markdown-section pre[data-lang] code {
  margin: 0;
  background: #333;
  color: #FFF;
  border: 0px solid transparent;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  word-break: break-word;
  white-space: break-spaces;
}

#write pre[data-lang]::after,
.markdown-section pre[data-lang]::after {
  color: #FFF;
  top: 0;
  right: 1em;
  background: #FFF2;
  padding: 0.2em 0.8em;
  border-radius: 0 0 0.5em 0.5em;
}

#write pre.md-fences,
.markdown-section pre.md-fences {
  background: #333;
  color: #FFF;
  border: 0px solid transparent;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  word-break: break-word;
  white-space: break-spaces;
}

#write .code-tooltip,
.markdown-section .code-tooltip {
  box-shadow: none;
  border-radius: 0.5em;
  border: 0px solid transparent;
}

#write kbd,
.markdown-section kbd {
  box-shadow: none;
}

#write kbd+kbd,
.markdown-section kbd+kbd {
  margin: 0 0.1rem;
}

#write blockquote,
.markdown-section blockquote {
  padding: 0.75rem 0.75rem;
  border-left: 4px solid #CCC;
  background: rgba(238, 238, 238, 0.5);
  color: rgba(34, 34, 34, 0.75);
  border-radius: 0 0.5em 0.5em 0;
  transition: 1s;
}

#write blockquote p,
.markdown-section blockquote p {
  font: 0.9em/1.5 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
  margin: 0.75rem 0;
}

#write blockquote p:first-child,
.markdown-section blockquote p:first-child {
  margin-top: 0;
}

#write blockquote p:last-child,
.markdown-section blockquote p:last-child {
  margin-bottom: 0;
}

#write blockquote:hover,
.markdown-section blockquote:hover {
  transition: 0.2s;
  border-left: 4px solid #24D;
  background: #EEE;
  color: #222;
}

#write .md-image,
.markdown-section .md-image,
#write img,
.markdown-section img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 2px #0000;
  transition: all 0.3s !important;
}

#write .md-image:hover,
.markdown-section .md-image:hover,
#write img:hover,
.markdown-section img:hover {
  box-shadow: 0 0 2px #0004;
}

#write .md-image+.md-softbreak,
.markdown-section .md-image+.md-softbreak {
  height: 1em;
}

#write ul,
.markdown-section ul,
#write ol,
.markdown-section ol {
  margin: 0.5em 0;
  padding-left: 3ch;
}

#write ul li,
.markdown-section ul li,
#write ol li,
.markdown-section ol li {
  margin: 0.5em 0;
}

#write ul ul,
.markdown-section ul ul,
#write ol ul,
.markdown-section ol ul,
#write ul ol,
.markdown-section ul ol,
#write ol ol,
.markdown-section ol ol {
  margin: 0.3em 0;
}

#write ul ul li,
.markdown-section ul ul li,
#write ol ul li,
.markdown-section ol ul li,
#write ul ol li,
.markdown-section ul ol li,
#write ol ol li,
.markdown-section ol ol li {
  margin: 0.3em 0;
}

#write li p,
.markdown-section li p {
  margin: 0;
}

#write ol li::marker,
.markdown-section ol li::marker {
  font: 0.9em 'JetBrains Mono', Menlo, Consolas, 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', monospace;
}

#write .task-list-item,
.markdown-section .task-list-item {
  margin-left: 0 !important;
  position: relative;
}

#write .task-list-item input[type="checkbox"],
.markdown-section .task-list-item input[type="checkbox"] {
  width: 1.5em !important;
  margin: 0;
  position: absolute;
  left: -1.5em;
  top: 0.5em;
}

#write table:not(.md-grid-board),
.markdown-section table:not(.md-grid-board),
#write .md-table,
.markdown-section .md-table {
  display: table;
  width: auto;
  border-radius: 0.5em;
  overflow: hidden;
  font: 0.9rem/1.75 'JetBrains Mono', Menlo, Consolas, 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', monospace;
  border-collapse: separate;
  border: 1px solid #CCC;
}

#write table:not(.md-grid-board) th,
.markdown-section table:not(.md-grid-board) th,
#write .md-table th,
.markdown-section .md-table th,
#write table:not(.md-grid-board) td,
.markdown-section table:not(.md-grid-board) td,
#write .md-table td,
.markdown-section .md-table td {
  padding: 0.5em clamp(0.5em, 1vw, 2em);
  vertical-align: top;
  border: none;
}

#write table:not(.md-grid-board) th:not(:last-child),
.markdown-section table:not(.md-grid-board) th:not(:last-child),
#write .md-table th:not(:last-child),
.markdown-section .md-table th:not(:last-child),
#write table:not(.md-grid-board) td:not(:last-child),
.markdown-section table:not(.md-grid-board) td:not(:last-child),
#write .md-table td:not(:last-child),
.markdown-section .md-table td:not(:last-child) {
  border-right: 1px dashed #8888;
}

#write table:not(.md-grid-board) tr:last-child td,
.markdown-section table:not(.md-grid-board) tr:last-child td,
#write .md-table tr:last-child td,
.markdown-section .md-table tr:last-child td {
  border-bottom: none;
}

#write table:not(.md-grid-board) th,
.markdown-section table:not(.md-grid-board) th,
#write .md-table th,
.markdown-section .md-table th {
  line-height: 1.5em;
}

#write table:not(.md-grid-board) th,
.markdown-section table:not(.md-grid-board) th,
#write .md-table th,
.markdown-section .md-table th,
#write table:not(.md-grid-board) td,
.markdown-section table:not(.md-grid-board) td,
#write .md-table td,
.markdown-section .md-table td {
  border-bottom: 1px solid #CCC;
}

#write table:not(.md-grid-board) th,
.markdown-section table:not(.md-grid-board) th,
#write .md-table th,
.markdown-section .md-table th {
  background: #EEE;
}

#write table:not(.md-grid-board) tbody tr:nth-child(even),
.markdown-section table:not(.md-grid-board) tbody tr:nth-child(even),
#write .md-table tbody tr:nth-child(even),
.markdown-section .md-table tbody tr:nth-child(even) {
  background: rgba(238, 238, 238, 0.25);
}

#write table:not(.md-grid-board) tbody tr:nth-child(odd),
.markdown-section table:not(.md-grid-board) tbody tr:nth-child(odd),
#write .md-table tbody tr:nth-child(odd),
.markdown-section .md-table tbody tr:nth-child(odd) {
  background: none;
}

#write .table_light,
.markdown-section .table_light {
  border: 1px solid #CCC;
}

#write .table_light th,
.markdown-section .table_light th,
#write .table_light td,
.markdown-section .table_light td {
  border-bottom: 1px solid #CCC;
}

#write .table_light th,
.markdown-section .table_light th {
  background: #EEE;
}

#write .table_light tbody tr:nth-child(even),
.markdown-section .table_light tbody tr:nth-child(even) {
  background: rgba(238, 238, 238, 0.25);
}

#write .table_light tbody tr:nth-child(odd),
.markdown-section .table_light tbody tr:nth-child(odd) {
  background: none;
}

#write .table_dark th,
.markdown-section .table_dark th,
#write .table_dark td,
.markdown-section .table_dark td {
  color: white;
}

#write .table_dark th,
.markdown-section .table_dark th {
  background: #333;
  color: #F69;
}

#write .table_dark tbody tr:nth-child(even),
.markdown-section .table_dark tbody tr:nth-child(even) {
  background: #595959;
}

#write .table_dark tbody tr:nth-child(odd),
.markdown-section .table_dark tbody tr:nth-child(odd) {
  background: #666666;
}

#write .md-def-name,
.markdown-section .md-def-name {
  color: #888;
}

#write .md-def-name::before,
.markdown-section .md-def-name::before,
#write .md-def-name::after,
.markdown-section .md-def-name::after {
  color: #888;
}

#write .md-fences[lang="mermaid"]:not(.md-focus),
.markdown-section .md-fences[lang="mermaid"]:not(.md-focus),
#write .md-diagram-panel,
.markdown-section .md-diagram-panel,
#write .mermaid,
.markdown-section .mermaid {
  background: #FFF;
}

#write .md-fences[lang="mermaid"]:not(.md-focus) *,
.markdown-section .md-fences[lang="mermaid"]:not(.md-focus) *,
#write .md-diagram-panel *,
.markdown-section .md-diagram-panel *,
#write .mermaid *,
.markdown-section .mermaid * {
  font-family: 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif !important;
}

#write pre.md-fences-advanced.md-focus[lang="mermaid"],
.markdown-section pre.md-fences-advanced.md-focus[lang="mermaid"] {
  margin-bottom: 1em !important;
}

#write pre.md-fences-advanced.md-focus .md-fences-adv-panel,
.markdown-section pre.md-fences-advanced.md-focus .md-fences-adv-panel {
  position: relative;
  background: #FFF;
  border-radius: 0 0 0.5em 0.5em;
  margin: 0.75em -1em -0.75em;
  width: calc(100% + 1em*2);
  border: 1px solid #333;
}

#write .mermaid,
.markdown-section .mermaid {
  display: flex;
  justify-content: center;
}

#write .mermaid .messageText,
.markdown-section .mermaid .messageText {
  stroke: none !important;
}

table .md-br,
table .md-br-content {
  font-size: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container)::before,
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container)::after {
  color: #C8C8C8 !important;
  color: var(--blur-text-color) !important;
}

#outline-content {
  padding: 0 0.5em;
  font: 400 0.8em 'JetBrains Mono', Menlo, Consolas, 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', monospace;
}

#outline-content li ul {
  padding-left: 2ch;
}

#outline-content li .outline-item {
  padding: 0.5em 0.5em !important;
  margin: 0;
  border: none;
  border-radius: 0.25em;
}

#outline-content li .outline-item .outline-expander {
  padding-right: 1ch;
}

#outline-content li .outline-item .outline-label {
  font: 1.25em 'Poppins', 'Source Han Sans HC', 'PingFang', 'Microsoft YaHei', sans-serif;
}

#outline-content li .outline-item .outline-label:hover {
  text-decoration: none;
}

#outline-content li .outline-item::before {
  display: inline-block;
  flex: none;
  padding: 0.3em 0.25em;
  position: absolute;
  text-align: right;
  opacity: 0;
  transition: all 3s;
}

#outline-content li .outline-item::before:hover {
  color: #FFF;
  background: red;
  border-radius: 0.25em;
  z-index: 99;
}

#outline-content li .outline-item:hover::before,
#outline-content li .outline-item .outline-active::before {
  opacity: 0.75;
  transition: all 0s;
}

#outline-content li .outline-item:hover {
  background-color: inherit;
}

#outline-content li .outline-item .outline-active {
  color: #24D;
  font-weight: bold !important;
}

#outline-content .outline-h1 {
  counter-reset: h2;
  overflow: hidden;
}

#outline-content .outline-h1>ul {
  padding-left: 2.5ch;
}

#outline-content .outline-h2 {
  padding: 2px 0;
  counter-reset: h3;
  counter-increment: h2;
}

#outline-content .outline-h2::before {
  content: '';
  display: block;
  height: 0px;
  width: 200%;
  position: absolute;
  top: 0;
  left: -50%;
  border-top: 0.5px solid #0001;
}

#outline-content .outline-h2>.outline-item::before {
  content: counter(h2);
  min-width: 2ch;
  left: -2ch;
  opacity: 0.75;
}

#outline-content .outline-h3 {
  counter-reset: h4;
  counter-increment: h3;
}

#outline-content .outline-h3>.outline-item::before {
  content: counter(h2) "."counter(h3);
  min-width: 4ch;
  left: -4ch;
}

#outline-content .outline-h4 {
  counter-reset: h5;
  counter-increment: h4;
}

#outline-content .outline-h4>.outline-item::before {
  content: counter(h2) "."counter(h3) "."counter(h4);
  min-width: 6ch;
  left: -6ch;
}

#outline-content .outline-h5 {
  counter-reset: h6;
  counter-increment: h5;
}

#outline-content .outline-h5>.outline-item::before {
  content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5);
  min-width: 8ch;
  left: -8ch;
}

#outline-content .outline-h6 {
  counter-increment: h6;
}

#outline-content .outline-h6>.outline-item::before {
  content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) "."counter(h6);
  min-width: 10ch;
  left: -10ch;
}

.sidebar>h1 .app-name-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar>h1 .app-name-link img {
  max-height: 3em;
}

.sidebar-nav {
  margin: 0;
}

.sidebar-nav>a {
  line-height: 1.25em;
}

.sidebar-nav>a strong {
  font-weight: normal;
}

.sidebar-nav.active {
  position: relative;
}

.sidebar-nav.active:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  left: -50%;
  background: #ffffff;
  z-index: -1;
}

.sidebar-nav.active>a {
  border-color: #24D;
  color: #24D;
}

.sidebar-nav.active>a strong {
  font-weight: bold;
  color: #24D;
}

.markdown-section {
  padding: env(safe-area-inset-top) calc(2em + env(safe-area-inset-left) + env(safe-area-inset-right) + 1vw) env(safe-area-inset-bottom);
}

.sidebar-toggle .sidebar-toggle-button {
  zoom: 0.8;
  opacity: 0.5;
}